name: Checks

on: [push]

jobs:
  test-lint:
    runs-on: ubuntu-24.04
    services:
      db:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: recipe
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build containers
        run: docker compose build

      - name: Run tests
        run: docker compose run --rm app python manage.py wait_for_db && python manage.py test

      - name: Lint
        run: docker compose run --rm app flake8